body {
    background-color: rgb(22, 22, 22);
    color: var(--bs-gray-300);
}

.sidebar-nav-pills-custom-color {
    --bs-nav-pills-link-active-bg: rgb(55, 52, 52) !important;
    --bs-nav-pills-link-active-color: var(--bs-red) !important;
    --bs-nav-link-color: var(--bs-gray-300) !important;
    --bs-nav-link-hover-color: rgb(141, 40, 40) !important;
}

.bg-dark {
    background-color: rgb(32, 32, 32) !important;
}

.vertical-center {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#greet-text {
    color: var(--bs-red);
}

.lg-text {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
}

.rounded-corner {
    border-radius: 25px;
}

.content-container {
    max-width: 42em;
}

.left-content-container {
    left: 0;
}

.right-content-container {
    right: 0;
}