body {
    background-color: rgb(22, 22, 22);
    color: var(--bs-gray-300);
}

.sidebar-nav-pills-custom-color {
    --bs-nav-pills-link-active-bg: rgb(55, 52, 52) !important;
    --bs-nav-pills-link-active-color: var(--bs-red) !important;
    --bs-nav-link-color: var(--bs-gray-300) !important;
    --bs-nav-link-hover-color: rgb(141, 40, 40) !important;
}

.bg-dark {
    background-color: rgb(32, 32, 32) !important;
}

.vertical-center {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.red-text {
    color: var(--bs-red);
}

.lg-text {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
}

.page-button {
    color: var(--bs-gray-300);
    max-width: 11em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.page-button:hover {
    background-color: var(--bs-red);
}

.rounded-corner {
    border-radius: 25px;
}

.md-container {
    max-width: 42em;
}
.lg-container {
    max-width: 100%;
}

.left-content-container {
    left: 0;
}

.right-content-container {
    right: 0;
}

.small-img {
    max-width: 50%;
    border: 0;
    padding: 0;
    border-radius: 50%;
}

.skill-img img {
    height: 100%;
    width: 80px;
}

.skill-container {
    overflow: hidden;
    height: 4.15em;
    /* height: 44em; */
    transition: height 1s ease-in-out;
    -webkit-transition: height 1s ease-in-out;
}

.skill-container:hover {
    height: 44em;
    transform: scale(1.05);
}

.toggle-skill-container {
    height: 44em;
}

.invert-img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.card {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.skill-content {
    margin-left: 100px;
    margin-right: 100px;
}

.text-badge {
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    font-size: small;
}

.scrolled-down{
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}